name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout kode repository
    - name: Checkout repository
      uses: actions/checkout@v2

    # 2. Setup Python environment
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    # 3. Install dependencies (PERBAIKAN DISINI)
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        # Install library tambahan jika belum ada di requirements.txt
        pip install mlflow matplotlib 

    # 4. Jalankan Training menggunakan MLflow Run
    - name: Run MLflow Project
      run: mlflow run . --env-manager=local
