name: MLflow Model Training Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          conda-version: 4.10  # Pastikan menggunakan versi yang sesuai
          environment-file: environment.yml  # Jika Anda memiliki environment.yml
          activate-environment: mlflow-env  # Nama environment Conda Anda

      - name: Install dependencies
        run: |
          conda activate mlflow-env  # Pastikan untuk mengaktifkan environment yang benar
          pip install -r requirements.txt

      - name: Run automation script
        run: |
          conda activate mlflow-env
          python automate_RohmatuKhoirulAnam.py
