name: MLflow Model Training Workflow

on:
  push:
    branches:
      - main  # Menjalankan workflow pada push ke branch main
  pull_request:
    branches:
      - main  # Menjalankan workflow pada pull request ke branch main

jobs:
  build:
    runs-on: ubuntu-latest  # Menjalankan pekerjaan di environment Ubuntu

    steps:
      # Langkah 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Langkah 2: Set up Conda (menyediakan lingkungan conda)
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.9  # Versi Python
          activate-environment: mlflow  # Nama environment conda
          environment-file: MLProject/conda.yml  # Menggunakan file conda.yml untuk environment

      # Langkah 3: Install dependencies dengan Conda
      - name: Install dependencies
        run: |
          conda activate mlflow  # Mengaktifkan environment conda
          pip install -r requirements.txt  # Menginstal dependensi dari requirements.txt

      # Langkah 4: Jalankan Skrip Model (misalnya modelling.py)
      - name: Run modelling.py
        run: |
          conda activate mlflow  # Pastikan environment aktif
          python MLProject/modelling.py  # Jalankan skrip modelling.py
