name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout kode repository
    - name: Checkout repository
      uses: actions/checkout@v2

    # 2. Setup Python environment
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    # 3. Install dependencies
    # Kita install manual saja untuk memastikan semua ter-cover tanpa pusing lokasi file requirements.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn matplotlib numpy scipy joblib cloudpickle

    # 4. Jalankan Training menggunakan MLflow Run
    # Mengarah ke folder 'MLProject' karena file konfigurasi ada di dalamnya
    - name: Run MLflow Project
      run: mlflow run MLProject --env-manager=local
